body {
	margin: 0;
	padding: 20px 80px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #444;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
a {
	text-decoration: none;
	color: #555;
	letter-spacing: 1px;
	transition: 0.3s ease-in-out;
}
a:hover {
	color: #222;
}
* {
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: inherit;
}
